.list {
    // border: 2px solid red;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100%;


    >.hotel {
        // border: 2px solid red;
        width: 93%;
        height: 15rem;
        display: flex;
        padding: 1rem 1rem;
        border-radius: 1vw;
        box-shadow: 0px 0px 8px gray;
        gap: 1rem;

        >.hotemImage {
            // border: 2px solid blue;
            width: 30%;
            height: 100%;
            display: flex;
            place-content: center;
            overflow: hidden;
            border-radius: 0.5vw;
            box-shadow: 0px 0px 4px gray;

            >img {
                width: 100%;

            }
        }

        >.details {
            // border: 2px solid green;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: .7rem 0rem;

            >.name {

                >h1 {
                    color: #b81010;
                }

                >p {
                    color: gray;
                    font-size: small;
                }
            }

            >.rating {
                // border: 2px solid red;

                >h2 {
                    color: orangered;

                }

                >.stars {
                    // border: 2px solid green;
                    color: orange;
                    margin-top: .5rem;

                }
            }

        }

        >.bookBtn {
            // border: 2px solid red;
            display: flex;
            justify-content: flex-end;
            align-items: end;
            flex-direction: column;
            gap: .3rem;
            width: 21%;


            >.price {

                display: flex;
                align-items: end;


                >span {
                    color: gray;
                    font-size: small;
                }

                >h1 {
                    color: #b81010;
                }
            }

            >a {
                >button {
                    color: white;
                    background-color: #b81010;
                    width: 10rem;
                    height: 2.5rem;
                    border: none;
                    border: 2px solid transparent;
                    transition: .5s all;
                    cursor: pointer;


                    &:hover {
                        background-color: white;
                        border: 2px solid #b81010;
                        color: #b81010;

                        transition: .5s all;

                    }


                }
            }

        }

    }
}