.bookingsComponent {
    // border: 2px solid red;
    height: 88%;
    width: 100%;
    border-radius: 1vw;
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    >.option {
        // border: 2px solid red;
        background-color: white;
        display: flex;
        border-bottom: 1px solid rgb(213, 213, 213);
        width: 100%;

        // border: 2px solid red;
        >div {
            padding: 1rem;
            width: 10rem;

            >span {
                padding: 1rem .1rem;
                font-weight: 300;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                    color: salmon;
                    border-bottom: 3px solid salmon;
                }

            }


        }


    }

    >table {

        padding: 0rem 1rem;
        width: 100%;
        height: 85%;
        background-color: white;
        border-collapse: collapse;

        // border: 2px solid red;

        >thead {

            >tr {
                // border: 2px solid red;
                display: grid;
                grid-template-columns: 5% 10% 11% 10% 17% 12% 20% 15%;

                >th {
                    // border: 2px solid green;
                    padding: 1rem;
                    text-align: left;
                }

                >td {
                    // border: 2px solid green;
                    text-align: left;
                    font-size: small;

                    >div {
                        // border: 2px solid green;
                        display: flex;
                        text-align: center;
                    }

                }


            }

        }

        tbody {

            >tr {
                display: grid;
                grid-template-columns: 5% 10% 11% 10% 17% 12% 20% 15%;
                // border: 2px solid green;

                &:hover {
                    background-color: rgba(241, 241, 241, 0.59);

                    cursor: pointer;
                }

                >td {
                    padding: .9rem 1rem;
                    text-align: left;
                    font-size: small;

                    >div {
                        // border: 2px solid green;
                        display: flex;
                        text-align: center;
                    }

                    >.inputTab {
                        // border: 2px solid red;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        >select {
                            padding: .2rem
                        }

                        >input {
                            padding: .2rem;

                            &:focus {
                                outline: none;
                            }
                        }

                        >button {
                            border: 2px solid salmon;
                            background-color: white;
                            padding: .3rem;
                            color: salmon;
                            font-weight: bold;
                            cursor: pointer;
                            transition: .1s all;

                            &:hover {
                                background-color: salmon;
                                color: white;
                                transition: .1s all;
                            }
                        }

                    }


                }


            }

        }

    }

    >.nextPage {
        // border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: .5rem;
        width: 90%;
        border-top: 1px solid rgb(198, 198, 198);

        >div {
            // border: 2px solid crimson;
            padding: .1rem .2rem;
            font-size: 0.65em;
            cursor: pointer;
        }

        >.currentPage {
            font-size: small;
            color: crimson;
            border: 2px solid crimson;
        }

    }
}