.imageViewer {
    // border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.737);
    position: absolute;
    z-index: 100;


    >.slideBtn {
        display: flex;

        >button {
            display: flex;
            border: none;
            padding: 1.3rem;
            font-size: 1.2rem;
            color: white;
            background-color: rgba(110, 110, 110, 0.465);
            border-radius: 100vw;
            transition: .3s all;
            cursor: pointer;
            box-shadow: 0px 0px 12px black;


            &:hover {

                transition: .3s all;
                background-color: rgb(80, 80, 80);
                transform: scale(1.1);


            }

        }

    }

    >.Image {
        // border: 2px solid red;
        // width: 90%;
        height: 80vh;
        box-shadow: 0px 0px 12px black;

        >img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}